:host {
  display: block;
  padding: 20px 16px 16px 16px;
}
.filters {
  margin-top: -10px;
  margin-bottom: 20px;
  white-space: nowrap;
  overflow-x: auto;
  border-bottom: solid 1px #dcdcdc;
  text-align: center;
  .mat-button {
    min-width: 40px;
    padding: 0 8px;
    font-size: 12px;
  }
}
.list {
  margin: 0 0 70px;
}
.item-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}
.item-card__date {
  position: absolute;
  top: 8px;
  font-size: 11px;
  line-height: 13px;
  color: #828282;
}
.item-card__title {
  font-size: 15px;
  line-height: 18px;
}
.item-card__actions {
  margin-right: -5px;
}
