/* APP GLOBAL STYLES */

@import '~@angular/material/theming';
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import '~firebaseui/dist/firebaseui.css';

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config(
  $font-family: 'Roboto,"Helvetica Neue",sans-serif',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 20px, 400)
);

@include mat-base-typography($custom-typography);


html,
body {
  height: 100%;
}

body {
  display: flex;
  margin: 0;
  padding: 0;
  background: #fafafa;
  overscroll-behavior: none;
}

.spacer {
  flex: 1 1 auto;
}

.main-content {
  flex-grow: 2;
}
